<?xml version="1.0"?>
<config>
    <modules>
        <Queen_Skip>
            <version>0.1.0</version>
        </Queen_Skip>
    </modules>
    <global>
        <models>
            <queen_skip>
                <class>Queen_Skip_Model</class>
                <resourceModel>queen_skip_mysql4</resourceModel>
            </queen_skip>
            <queen_skip_mysql4>
                <class>Queen_Skip_Model_Mysql4</class>
                <entities>
                    <permit>
                        <table>queen_skip_permit</table>
                    </permit>
                </entities>
            </queen_skip_mysql4>
        </models>
        <blocks>
            <queen_skip>
                <class>Queen_Skip_Block</class>
            </queen_skip>
        </blocks>
        <helpers>
            <queen_skip>
                <class>Queen_Skip_Helper</class>
            </queen_skip>
        </helpers>
        <resources>
            <queen_skip_setup>
                <setup>
                    <module>Queen_Skip</module>
                </setup>
            </queen_skip_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <skip>
                    <file>skip.xml</file>
                </skip>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <skip>
                <use>admin</use>
                <args>
                    <module>Queen_Skip</module>
                    <frontName>skip</frontName>
                </args>
            </skip>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <skip_permit>
                        <title>SKIP - Manage Permit Type</title>
                        <sort_order>901</sort_order>
                        <action>skip/adminhtml_permit</action>
                    </skip_permit>
                    <skip_postcode>
                        <title>SKIP - Manage Postcode</title>
                        <sort_order>902</sort_order>
                        <action>skip/adminhtml_postcode</action>
                    </skip_postcode>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <skip_permit>
                                    <title>SKIP - Manage Permit Type</title>
                                </skip_permit>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <skip>
                    <file>skip.xml</file>
                </skip>
            </updates>
        </layout>
    </adminhtml>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>skip</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>