<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <queen_skip translate="label" module="queen_skip">
            <label>SKIP</label>
            <sort_order>1</sort_order>
        </queen_skip>
    </tabs>
    <sections>
        <queen_skip translate="label" module="queen_skip">
            <label>SKIP</label>
            <tab>queen_skip</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <postcodeanywhere translate="label" module="queen_skip">
                    <label>PostcodeAnywhere</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <key translate="label">
                            <label>Service Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <country translate="label">
                            <label>Country</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <language translate="label">
                            <label>LanguagePreference</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                    </fields>
                </postcodeanywhere>
                <skip_options translate="label" module="queen_skip">
                    <label>Skip Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <skip_page_url translate="label">
                            <label>Skip Listing Page URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_page_url>
                        <email translate="label">
                            <label>Collect email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                    </fields>
                </skip_options>
            </groups>
        </queen_skip>
    </sections>
</config>